extends layout

block content
  h1= NuevaMatricula
  p Alta de nueva asignatura
  form(id="newAsignatura" method="post" action="/asignatura/save")
    label Nombre asignatura
    input(type="text" name="nombre")
    br
    br
    label Numero de horas
    input(type="text" name="numHoras")
    br
    br
    label Docente de la asignatura
    br
    select(name="docente")
      each docente in docentes
        option(value=`${docente.id}`)= docente.nombre + " " + docente.apellido
    br
    br
    label Alumnos de la asignatura
    br
    each alumno in alumnos
      label= alumno.nombre + " " + alumno.apellido
      input(type="checkbox" name="alumnos[]" value=`${alumno.id}`)
      br
    input(type="submit")

